

.icon-2x {
    font-size: 2em;
}
.icon-3x {
    font-size: 3em;
}
.icon-4x {
    font-size: 4em;
}

.font-size-1em {
    font-size: 1em;
}
.font-size-2em {
    font-size: 2em;
}
.font-size-3em {
    font-size: 3em;
}
.font-size-4em {
    font-size: 4em;
}

.list-style-type-none {
    padding: 0;
    list-style-type: none;
}

.table.no-border {
    border: none;
}

.list-group-striped > li:nth-child(odd) {
    background: #eee;
}

/* Overwrites */
.page-wrapper {
    padding-bottom: 0;
}


/* Section */
.site-footer {

}

.site-footer .social-links {
    padding: 0;
    list-style-type: none;
}
.site-footer .social-links > li {
    font-size: 2em;
}
.site-footer .social-links > li:not(:last-child) {
    margin-right: 5px;
}


.efab-shape {
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border: 5px solid yellow;
    position: relative;
}
.efab-shape::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.efab-shape .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -20%);
}