/*Global CSS*/
.container-fluid {padding-bottom:0px;}

#jobs-header .float-left i {font-size:60px;}
#jobs-header .float-none h3{line-height:90%;}
#jobs-header .float-none span {font-size:.5em;}
#jobs-header .float-none, #jobs-header .input-group {margin:20px 0 0 0;}
#jobs-header .align-self-center {padding-top:18px;}

#info { padding: 0px; margin:0px;}
#info i {font-size:40px; margin-right:5px;}
#info .lead {font-size:.9em; margin-right:5px; margin-top:16px; line-height: 90%;}
#info .lead span {font-size:.8em; }
#info {background-color:#fff;}
#info .text-right {margin-top:20px; }

#jobs-content { margin-top:20px; }
#jobs-content .col-lg-6 {padding-top: 10px;padding-left: 31px;margin-left: 0px;margin-bottom: -14px;padding-right:30px;}
#jobs-content #basic,#featured, #latest { padding-left:0px; padding-right:0px; }
#jobs-content .tab-content .card {margin-top: -22px;}
#jobs-content .tab-content .col-lg-7, .col-lg-5 {padding-left: 20px; margin-top: 0px;}



.custom-container-header{
    background: #3f9a74;
    padding: 10px;
    position: relative;
}

.chat-container {
    height: 300px;
    overflow: auto;
}
